@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1 class="display-4">Coding Challenge</h1>

    <div>
        <h2>Implementation Using View Components: Click the links to visit an article page</h2>
        @foreach (var articleResource in Model.Articles)
        {
            <p>See the Solution: <a asp-page="/article" asp-route-articleId="@articleResource.ArticleId">@articleResource.ArticleTitle</a>.</p>
        }
    </div>

    <div>
        <h2>Implementation Using Razor Components: The articles are displayed on the Index page</h2>
        @foreach (var articleResource in Model.Articles)
        {
            <component type="@typeof(RockArticleApp.Pages.Components.RazorComponents.Article)"
                       render-mode="ServerPrerendered"
                       param-ArticleId="@articleResource.ArticleId"
                       param-ArticleLikesCount="@articleResource.ArticleLikesCount"
                       param-HasBeenLiked="@articleResource.HasBeenLiked" />
        }
    </div>

</div>

